.footer {
  color: var(--text-secondary);
  background-color: var(--background-secondary);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: $max-width;
  margin: 0 auto;
  padding: 20px;
}
