.footer {
  color: var(--text-secondary);
  background-color: var(--background-secondary);
}

.year {
  display: flex;
  grid-column: 6 / 8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
