{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-clean-order/error"],
  "rules": {
    "color-hex-length": "long",
    "color-named": "never",
    "color-function-notation": "modern",
    "selector-class-pattern": "^([a-z]+[\\-_a-z0-9]*[^\\-]|[a-z]+)$",
    "alpha-value-notation": "number",
    "media-feature-range-notation": "prefix",
    "hue-degree-notation": "number",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
