.test_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100px;
}

.text {
  font-size: 18px;
  line-height: 24px;
}

.text_dynamic {
  @include vp-1279 {
    font-size: vw($size: 18, $breakpoint: 768);
    line-height: vw($size: 24, $breakpoint: 768);
  }

  @include vp-767 {
    font-size: vw($size: 18, $breakpoint: 360);
    line-height: vw($size: 24, $breakpoint: 360);
  }

  font-size: 18px;
  line-height: 24px;
}

.columns {
  @include grid;

  height: 200px;
  background-color: #ffffff;

  & .column {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: vw-clamp($breakpoint: 768, $size: 40, $min: 10px, $max: 80px);
    color: #000000;

    &:nth-of-type(1) {
      grid-column: 1/4;
      background-color: rgb(255 0 0 / 0.2);
    }

    &:nth-of-type(2) {
      grid-column: 4/7;
      background-color: rgb(0 0 255 / 0.2);
    }

    &:nth-of-type(3) {
      grid-column: 7/10;
      background-color: rgb(0 255 0 / 0.2);
    }

    &:nth-of-type(4) {
      grid-column: 10/13;
      background-color: rgb(255 255 0 / 0.2);
    }
  }
}
