.section {
  $mobile-padding: 15px;
  $desktop-padding: 30px;

  width: 100%;

  & > .container,
  & > .box {
    max-width: $max-width;
    margin: 0 auto;
  }

  & > .container {
    @include vp-md {
      padding-right: $mobile-padding;
      padding-left: $mobile-padding;
    }

    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
  }

  & > .box {
    @include vp-md {
      padding: $mobile-padding;
    }

    padding: $desktop-padding;
  }
}
