// *,
// *::before,
// *::after {
//   &:not(svg, path) {
//     outline: 1px inset rgb(247 0 255 / 0.25);
//     outline-offset: -1px;
//   }
// }
:where([data-overflow]) {
  overflow: hidden;
}

:where(html, .custom-scrollbar) {
  @include scrollbar;
}

:where(body) {
  overflow-x: hidden;

  min-height: var(--document-height);

  font-family: var(--eesti);
  color: var(--text-primary);

  background-color: var(--background-primary);
}

:where(h1, h2, h3, h4, h5, h6, p, a) {
  margin: 0;
  line-height: normal;
}

:where(p + p) {
  margin: 0;
}
