* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--eesti);

  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;

  min-height: var(--dvh);

  color: var(--text-primary);

  background-color: var(--background-primary);

  transition:
    color $td,
    background-color $td;
}

.no-transition {
  transition: none !important;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  width: 100%;
}

.container {
  @include vp-md {
    padding: 0 15px;
  }

  max-width: $max-width;
  margin: 0 auto;
  padding: 0 30px;
}
