// Resources
// https://www.ncscolorguide.com/ncs/s-0300-s-0585
// https://margaret2.github.io/pantone-colors/
// https://www.pantone-colours.com/

// Palettes

// Pantone colors
$pantone-bright-white: #f4f5f0;
$pantone-moonbeam: #cdc6bd;
$pantone-silver: #a2a2a1;
$pantone-dusk-blue: #7ba0c0;
$pantone-bright-cobalt: #385d8d;
$pantone-twilight-blue: #313d64;
$pantone-night-sky: #2a2a35;
$pantone-jet-black: #2d2c2f;
$pantone-phantom: #39373b;
$pantone-solar-power: #f4bf3a;

// Modded

$modded-pantone-phantom-darker: hsl(260 3% 14%);

// Values
$border-radius: 12px;
$td: 0.35s;

// Breakpoints
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 998px;
$xl: 1200px;
$xxl: 1400px;

// Max width
$max-width: $xxl;
