// Colors
$light: #ececec;
$dark: #333333;
$cream: #fff6e0;
$vintage-green: #116a7b;

// Values
$border-radius: 12px;
$transition-duration: 0.5s;

// Screens
$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Max width
$max-width: $vp-1440;
