// Values
$border-radius: 12px;
$td: 0.35s;

// Breakpoints
$vp-768: 768px;
$vp-1200: 1200px;
$vp-1920: 1920px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Max width
$max-width: 1200px;
