.section {
  background-color: var(--background-secondary);
  transition: background-color $transition-duration;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.list {
  display: flex;
  gap: 20px;
}
