.input {
  $color-error: var(--accent);
  $color-text: var(--text-primary);
  $input-bg: var(--background-secondary);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4px;

  margin-bottom: 20px;
  padding-bottom: 20px;

  & :global(.MuiInputBase-root),
  & :global(.MuiInputBase-input[aria-hidden="true"]) {
    @include mui-reset {
      margin: 0;
      padding: 0;

      font-family: inherit;
      letter-spacing: normal;

      opacity: 1;
      background-color: transparent;
      border: 0;
      border-color: transparent;
      border-width: 0;
      border-radius: 0;
      outline: 0;

      transition: none;
    }

    & fieldset {
      display: none;
    }
  }

  .input__label,
  .error {
    user-select: none;
  }

  .error {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;

    font-size: 14px;
    line-height: 12px;
    color: $color-error;
  }

  & textarea,
  & input {
    height: 50px;
    padding: 14px 12px;

    font-family: inherit;
    font-size: 18px;
    color: var(--text-secondary);

    background-color: $input-bg;
    border: 0;
    outline: 0;

    &::placeholder {
      color: #bbbbbb;
      opacity: 1;
    }
  }

  &.input__error {
    & .input__label {
      color: $color-error;
    }

    & textarea,
    & input {
      outline: 1px solid $color-error;
    }
  }

  &.input__focused,
  &:active {
    & .input__label {
      color: $color-text;
      text-decoration-color: $color-text;
    }

    & .error {
      color: $color-text;
      text-decoration-color: $color-text;
    }

    & input,
    & textarea {
      outline: 1px solid $color-text;
    }
  }

  &:hover {
    & .input__label {
      text-decoration: underline;
      text-decoration-color: $color-text;
    }

    &.input__error:not(.input__focused, &:active) .input__label {
      text-decoration: underline;
      text-decoration-color: $color-error;
    }
  }
}
