.input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  & :global(.MuiFormControl-root),
  & :global(.MuiOutlinedInput-root),
  & :global(.MuiInputBase-root),
  fieldset {
    margin: 0 !important;
    padding: 0 !important;

    font-family: inherit !important;

    opacity: 1 !important;
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;

    transition: none !important;
  }

  & textarea {
    padding: 14px 12px;
  }

  & input {
    padding: 0 12px;
  }

  & input,
  & textarea {
    height: 50px;

    font-family: inherit;
    font-size: 18px;
    color: #ffffff;

    background-color: #5c5c5c;
    border: 0;
    outline: 0;

    &::placeholder {
      color: #bbbbbb;
      opacity: 1;
    }

    &:focus,
    &:focus-visible {
      outline: 0;
    }
  }

  &__error {
    pointer-events: none;

    position: absolute;
    bottom: -2px;
    left: 0;
    transform: translateY(100%);

    font-size: 12px;
    font-weight: 900;
    line-height: 12px;
    color: #ff0000;
  }
}
