@mixin four-column {
  background: linear-gradient(
    90deg,
    rgb(150 150 150) 0%,
    rgb(150 150 150) 22%,
    rgb(100 100 100) 22%,
    rgb(100 100 100) 26%,
    rgb(150 150 150) 26%,
    rgb(150 150 150) 48%,
    rgb(100 100 100) 48%,
    rgb(100 100 100) 52%,
    rgb(150 150 150) 52%,
    rgb(150 150 150) 74%,
    rgb(100 100 100) 74%,
    rgb(100 100 100) 78%,
    rgb(150 150 150) 78%,
    rgb(150 150 150) 100%
  );
}

@mixin three-column {
  background: linear-gradient(
    90deg,
    rgb(150 150 150) 0%,
    rgb(150 150 150) 30%,
    rgb(100 100 100) 30%,
    rgb(100 100 100) 35%,
    rgb(150 150 150) 35%,
    rgb(150 150 150) 65%,
    rgb(100 100 100) 65%,
    rgb(100 100 100) 70%,
    rgb(150 150 150) 70%,
    rgb(150 150 150) 100%
  );
}

@mixin two-column {
  background: linear-gradient(
    90deg,
    rgb(150 150 150) 0%,
    rgb(150 150 150) 47.5%,
    rgb(100 100 100) 47.5%,
    rgb(100 100 100) 52.5%,
    rgb(150 150 150) 52.5%,
    rgb(150 150 150) 100%
  );
}
